<html>
<head>
</head>
<body>
<br><br>
<center>
    <a href = "http://127.0.0.1:8000/"> Home </a>
<!-- 	
	<a href = "success"> Success </a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href = "success.html"> Success.html </a> -->
<br> <br>

	<hr>
	<br><br>
	<h1>UPDATE DATA</h1>
	<form method="POST">
		{% csrf_token %}
        <input type = "text" name = "Emp_id" value="{{emp_update.id}}" readonly>
		<input type = "text" name = "Emp_name" value="{{emp_update.Emp_name}}">
		<input type = "text" name = "Emp_Email" value="{{emp_update.Emp_Email}}" >
		<input type = "text" name = "Emp_Mobile" value="{{emp_update.Emp_Mobile}}">
		<input type = "submit" name = "submit">
		<input type = "reset">
	</form>
    <br><br>
    <h3>Prevoius data</h3>
    <table border = "5">
		<tr>
			<th>ID</th>
			<th>Employee Name</th>
			<th>Employee Email</th>
			<th>Employee Mobile</th>	
		</tr>

		<tr>
			<td>{{e.id}}</td>
			<td>{{e.Emp_name}}</td>
			<td>{{e.Emp_Email}}</td>
			<td>{{e.Emp_Mobile}}</td>	
		</tr>
    </table>
</center>
</table>
</body>
</html>
